assets/
.idea/
output/
pretrained/
results/
sequences/
imgs/
analysis/
results_for_upload/
tensorboard/
toolkit/
__pycache__/
sequences/
logs/
analysis/
./data/
.DS_Store
data_specs/
*.pth
*.tar
cache/
*.zip
events.out.tfevents*
tracking_results/
*.pyc